@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: rgb(9 15 22);
  color: white;
}

.bg-custom {
  background-color: rgb(15, 24, 34);
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.70;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s infinite;
}